<!-- <div class="container my-3 border p-3">
    <button type="button" class="btn btn-primary" (click)="consultarCursos()">Consultar</button>
</div>


 <Curso [nome]="ADS" [cargaHoraria]="10h"></Curso> 


template: `
    <h3>{{nome}} says:</h3>
    <p>{{cargaHoraria}}</p>
`

for (let curso of cursos) {   
    <Curso [nome]="{{curso.nome}}" [cargaHoraria]="{{curso.cargaHoraria}}"> </Curso>
}

<app-hero-child
      *ngFor="let hero of heroes"
      [hero]="hero"
      [master]="master">
    </app-hero-child> 
-->

<app-lista-de-cursos></app-lista-de-cursos>
